/** dark 主题下的变量 */

// 主题名称
$theme-name: "dark";

// 主题背景颜色
$theme-bg-color: #151515;

// active 状态下主题背景颜色
// $active-theme-bg-color: #409eff;

// 默认文字颜色
$font-color: #c0c4cc;
$font-bg: #1d1d1d;

// active 状态下文字颜色
$active-font-color: #409eff;

// hover 状态下文字颜色
$hover-color: rgb(64 158 255 / 20%);

// 边框颜色
$border-color: #303133;

// 侧边栏内容背景色，区别于bg
$side-bar-bg: #57abff42;

// white-box
$white-box: #353535;
