/* stylelint-disable selector-type-no-unknown */
/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable scss/no-global-function-names */

/** Element-Plus 相关 */

// 侧边栏的 item 的 popper
.el-popper {
	border: none !important;

	.el-menu {
		background-color: lighten($theme-bg-color, 4%) !important;

		.el-menu-item {
			background-color: lighten($theme-bg-color, 4%) !important;

			&.is-active,
			&:hover,
			&:focus {
				color: $active-font-color !important;
				background-color: lighten($theme-bg-color, 8%) !important;
			}
		}

		.el-sub-menu__title {
			background-color: lighten($theme-bg-color, 4%) !important;
		}
	}
}
