/* stylelint-disable color-hex-case */

/** dark 主题下的变量 */

// 主题名称
$theme-name: "normal";

// 主题背景颜色
$theme-bg-color: #f6f7fb;

// active 状态下主题背景颜色
// $active-theme-bg-color: #01efb7bb;

// 默认文字颜色
$font-color: #1c1c1c global;

// 文字背景色
$font-bg: #90939915;

// active 状态下文字颜色
$active-font-color: #0062ff;

// hover 状态下文字颜色
$hover-color: rgb(0 98 255 / 20%);

// 边框颜色
$border-color: #e4e4e4;

// 侧边栏区别于bg
$side-bar-bg: #0062ff2b;

// white-box
$white-box: #ffffff;

@use "sass:math";
@use "sass:map";
